/* .text-center {
    font-size: 50px;
} */
.card-img-top {
    background-image: url('ChainVote.jpg');
    background-size: contain;
    background-repeat: no-repeat
}

.card-deck .card {
    margin-bottom: 0;
}

.btn-danger{
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn.btn-secondary {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    transition-duration: 0.3s;
    font-family: 'Rajdhani', sans-serif;
    opacity: .6;
    
}

.btn.btn-secondary:hover {
    background-color: #CCCFD3;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.10);
    opacity: 1;
}