.btn-primary {
    position: relative;
    float: right;
    margin-right: 10px;
    width: 150px;
    height: 40px;
    font-weight: 800;
    border-radius: 10px   
}

.btn-secondary {
    position: relative;
    float: right;
    width: 150px;
    height: 40px;
    border-radius: 10px
}