
.loginButton {
    position: relative;
    float: right;
    margin-right: 10px;
    width: 150px;
    height: 40px;
    font-weight: 800;   
}

.btn-secondary {
    position: relative;
    float: right;
    width: 150px;
    height: 40px;
}