.header {
    background-color: #171f32;
    margin-bottom: 100px;
    border-bottom: #FF611D;
    border-bottom-style: solid;
    border-bottom-width: 8px;

}

.logo {
    background-image: url("./LogoSingle.png");
    background-size: cover;
    height: 60px;
    width: 60px
}

.logOut {
    background-color: #FF611D;
} 

.btn:not(:disabled):not(.disabled){
    background-color: #FF611D;
}